name: Deploy PR Previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions:
  contents: write
  pull-requests: write

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy PR Preview
        uses: rossjrw/pr-preview-action@v1.8.1
        with:
          source-dir: ./
          preview-branch: main
          umbrella-dir: pr-preview
